#launch-button {
  margin: 30px auto;
  padding: 8px 25px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: #ffff;
  letter-spacing: 1px;
  transition: all 100ms ease-in-out;
}
#launch-button:hover {
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
}
.link-icon {
  display: inline-flex;
  color: var(--primary-color);
  font-size: 20px;
  text-decoration: none;
  margin: 4px;
  transform: translateY(2.5px);
}
.link-icon:hover {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .HomepageConnect {
    margin: auto 20px;
    font-size: smaller;
  }
  .link-icon {
    font-size: 16px;
  }
  #launch-button {
    font-size: smaller;
  }
}
