#launch-button {
  margin: 20px auto;
  padding: 8px 25px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: #ffff;
  letter-spacing: 1px;
  transition: all 100ms ease-in-out;
}
#launch-button:hover {
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
}
.card-title {
  color: var(--card-text-color);
  margin: 15px auto;
}
.card-text {
  color: var(--card-text-color);
}

@media (max-width: 768px) {
  .HomepageAbout {
    text-align: center;
    font-size: smaller;
  }
  #launch-button {
    font-size: smaller;
  }
  .card-title {
    margin-bottom: 15px;
  }
  .card-text {
    margin: 0;
    line-height: 2;
    height: fit-content;
    text-align: center;
    align-content: center;
  }
}
