.icons i {
  font-size: 20px;
}
.card-header {
  background-color: rgba(154, 203, 208, 0.1);
}

@media (max-width: 768px) {
  .HomepageTech {
    font-size: smaller;
    margin-top: 40px;
  }
  .icons i {
    font-size: 14px;
  }
  .card-header {
    font-size: smaller;
  }
}
