.AboutCV {
  text-align: center;
}
#launch-button {
  margin: 30px auto;
  padding: 8px 25px;
  border: 1px solid #006a71;
  background-color: #006a71;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: #ffff;
  letter-spacing: 1px;
  transition: all 100ms ease-in-out;
}
#launch-button:hover {
  border: 1px solid #48a6a7;
  background-color: #48a6a7;
}
.link-icon {
  color: #006a71;
  font-size: 20px;
  text-decoration: none;
  margin: 4px;
}
.link-icon:hover {
  color: #48a6a7;
}
@media (max-width: 768px) {
  .AboutCV {
    margin-top: 40px;
    font-size: smaller;
  }
  .link-icon {
    font-size: 16px;
  }
}
