.AboutFacts ul {
  list-style: none;
  padding: 0;
}
.AboutFacts li {
  line-height: 2;
}
.AboutFacts h2 {
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .AboutFacts {
    text-align: center;
    font-size: 12px;
    padding: 0 20px;
  }
  .AboutFacts h2 {
    margin-bottom: 10px;
  }
  .AboutFacts li {
    line-height: 1.4;
    margin-bottom: 5px;
  }
}
