.AboutFacts ul {
  list-style: none;
  padding: 0;
}
.AboutFacts li {
  line-height: 2;
}
.AboutFacts h2 {
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .AboutFacts {
    text-align: center;
    font-size: smaller;
  }
  .AboutFacts li {
    line-height: 1.6;
  }
}
