.AboutImages {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background-color: #f2f2f2;
}
.about-image {
  margin: 60px auto;
  width: 100px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
.about-image:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .about-image {
    display: none;
  }
}
