.toggle-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}
.toggle-button:hover {
  transform: scale(1.1);
}
