.Contact {
  margin: 60px auto 80px;
  max-width: 100%;
  height: 400px;
  text-align: center;
  align-content: center;
}
.link-icon {
  color: #006a71;
  font-size: 20px;
  text-decoration: none;
  margin: 4px;
}
.link-icon:hover {
  color: #48a6a7;
}
