.About {
  margin: 0px auto 100px;
  max-width: 100%;
}
.About p {
  line-height: 1.5rem;
  font-size: 14px;
}
.about-phrase {
  font-weight: 600;
}
.about-container {
  padding: 60px 20px 0 60px;
  max-width: 100%;
  justify-content: space-around;
  height: fit-content;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.image-container {
  position: relative;
  height: 520px;
  width: 400px;
  overflow: hidden;
}
.anneke-profile {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-me {
  font-size: 60px;
  color: #006a71;
  opacity: 0.8;
  letter-spacing: 1px;
}
.about-section-CV {
  justify-content: space-around;
  margin: 100px auto;
  align-items: center;
}

@media (max-width: 768px) {
  .About {
    margin: 0px auto 60px;
  }
  .about-container {
    text-align: center;
    padding: 60px 20px 0 20px;
  }
  .about-section-CV {
    margin: 60px auto;
  }
  .image-container {
    height: 320px;
    width: 200px;
  }
}
