:root {
  --primary-color: #006a71;
  --secondary-color: #48a6a7;
  --tertiary-color: #9acbd0;
  --accent-color: #f2efe7;
  --bg-color: #ffff;
  --card-header-bg: #9acbd0;
  --card-bg-color: #ffff;
  --about-image-bg: #f2f2f2;
  --text-color: black;
  --card-text-color: black;
}
.dark {
  --primary-color: #476d7c;
  --secondary-color: #77abb7;
  --tertiary-color: #254b62;
  --accent-color: #313131;
  --bg-color: #151515;
  --card-header-bg: #414141;
  --card-bg-color: #414141;
  --about-image-bg: #414141;
  --text-color: #ffff;
  --card-text-color: #ffff;
}

.App {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
  font-family: "Roboto Variable", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}
