.Contact {
  margin: 60px auto 80px;
  max-width: 100%;
  height: 400px;
  text-align: center;
  align-content: center;
}
.Contact h1 {
  color: var(--primary-color);
  font-size: 60px;
  opacity: 0.8;
  letter-spacing: 1px;
}
.Contact h3 {
  margin-bottom: 15px;
  margin-top: 30px;
}
.link-icon {
  color: var(--primary-color);
  font-size: 20px;
  text-decoration: none;
}
.link-icon:hover {
  color: var(--secondary-color);
}
