.Footer {
  position: static;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 10px auto 0;
  padding: 30px 0;
  text-align: center;
  opacity: 0.8;
  background-color: #f2efe7;
}
.link-icon {
  color: #006a71;
  font-size: 20px;
  text-decoration: none;
  margin: 4px;
}
.link-icon:hover {
  color: #48a6a7;
}

@media (max-width: 768px) {
  .Footer {
    font-size: 12px;
  }
  .link-icon {
    font-size: 16px;
  }
}
