.HomepageHero {
  margin: 60px auto 80px;
}
.hero-heading {
  max-width: 100%;
  height: fit-content;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.primary-heading ul {
  font-size: 50px;
  list-style: none;
}
.slogan {
  font-size: 16px;
  opacity: 0.8;
}
.image-container {
  position: relative;
  height: 520px;
  width: 400px;
  overflow: hidden;
}
.anneke-side-profile {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.homepage-components {
  margin: 60px auto;
}
.homepage-tech {
  margin-top: 40px;
}
.homepage-connect {
  margin-top: 80px;
}
.heading {
  animation: move 4s linear infinite;
  background-image: linear-gradient(
    to right,
    #006a71,
    #48a6a7,
    #9acbd0,
    #48a6a7,
    #006a71
  );
  background-size: 200% auto;
  letter-spacing: 1px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes move {
  to {
    background-position: 200% center;
  }
}

#launch-button {
  padding: 8px 25px;
  border: 1px solid #006a71;
  background-color: #006a71;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: #ffff;
  letter-spacing: 1px;
  transition: all 100ms ease-in-out;
}
#launch-button:hover {
  border: 1px solid #48a6a7;
  background-color: #48a6a7;
}
