.Profile {
  margin: 60px auto 80px;
  max-width: 100%;
}
.Profile img {
  border: 2px solid #006a71;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}
.Profile img:hover {
  border: 3px solid #48a6a7;
  opacity: 0.8;
}
.Profile h1 {
  text-align: center;
  margin: 60px auto 60px;
  font-size: 60px;
  color: #006a71;
  opacity: 0.8;
  letter-spacing: 1px;
}
.project-card-text {
  background-color: rgba(154, 203, 208, 0.4);
}
@media (max-width: 768px) {
  .project-card-text {
    text-align: center;
  }
}
